.bundle
getdatabase.sh
db/*.sqlite3
log/*.log
tmp/
config/database.yml
log/
tmp/
db/schema.rb
.iterm-rails.config
.rvmrc
.ruby-version
.DS_Store
.sass-cache/
tags
public/stylesheets/application.css
public/system/*
public/system/**/*
