default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  timeout: 5000

development:
  <<: *default
  database: application_database_development
  host: localhost
  #user: database_user_name
  #password: database_user_password

test:
  <<: *default
  database: application_database_test
  host: localhost
  #user: database_user_name
  #password: database_user_password

production:
  <<: *default
  database: application_database_production
  host: localhost